<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeev Kapook Celebrity Chef</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Home Page</h1>
    <div> 
        <button type="button">Sanjeev Kapoor Kitchen</button>
        
    </div>
    <img src="Chef.jpg" alt="Planets"
    usemap="#planetmap">
<body>
    <h1>Recipe 1</h1>
    <div> 
        <button type="button">Download Aloo : Papeta Par Eeda Recipe</button>
        
    </div>
    <img src="Recipe1.jpg" alt="" srcset="">
<body>
    <h1>Recipe 2</h1>
    <div> 
        <button type="button">Download Masala Chana Recipe</button>
        
    </div>
    <img src="Recipe2.jpg" alt="" srcset="">
<body>
    <h1>Recipe 3</h1>
    <div> 
        <button type="button">Download Caesears Salad Recipe</button>
        
    </div>
    <img src="Recipe3.jpg" alt="" srcset="">
</body>
</html>